@page
@model LoginModel
@{
    ViewData["Title"] = "Login";
}

<div class="container">
    <div class="logo">
        <img src="bookstore_logo.png" alt="Book Store Logo">
    </div>
    <h2>Login to Book Store</h2>
    <form method="POST">
        <input type="email" name="email" asp-for="@Model.AuthenticateModel!.Email" placeholder="Email" required>
        <input type="password" name="password" asp-for="@Model.AuthenticateModel!.Password" placeholder="Password" required>
        <input type="submit" value="Login">
    </form>
    <div class="footer">
        Don't have an account? <a href="#">Sign up</a>
    </div>
</div>